<?xml version="1.0" encoding="UTF-8" standalone="yes"?><properties:Properties xmlns:properties="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><properties:ScaleCrop>false</properties:ScaleCrop><properties:HeadingPairs><vt:vector baseType="variant" size="2"><vt:variant><vt:lpstr>工作表</vt:lpstr></vt:variant><vt:variant><vt:i4>1</vt:i4></vt:variant></vt:vector></properties:HeadingPairs><properties:TitlesOfParts><vt:vector baseType="lpstr" size="1"><vt:lpstr>Sheet1</vt:lpstr></vt:vector></properties:TitlesOfParts><properties:LinksUpToDate>false</properties:LinksUpToDate><properties:SharedDoc>false</properties:SharedDoc><properties:HyperlinksChanged>false</properties:HyperlinksChanged><properties:Application>Tencent</properties:Application><properties:AppVersion>3.3</properties:AppVersion><properties:DocSecurity>0</properties:DocSecurity></properties:Properties>